<h3>Search for users:</h3>

<div class = "main">
	<div class = "container searching">


		<%= form_tag(users_path, :method => "get", id: "search-form") do %>
		  <%= text_field_tag :search, params[:search],  class: "form-control"  %>
		  <%= submit_tag "Search", :name => nil, class: "btn" %>
		<% end %>	
	</div>
</div>